module.exports = [
  {
    orgName: 'Opencast',
    orgUrl: 'https://opencast.org',
    // orgRor: '04qmmjx98',
    protocol: 'https',
    defaultThumbnailUrl: '',
    domain: 'develop.opencast.org',
    blacklistedIds: []
  }
]
