module.exports = [
  {
    orgName: 'Opencast',
    orgUrl: 'https://opencast.org',
    // orgRor: '04qmmjx98',
    protocol: 'https',
    domain: 'develop.opencast.org',
    blacklistedIds: [],
    useSeriesDescriptionInEpisodes: false
  }
]
